:css
  body {background-color: white; background-image: none; margin: 15px 0px 0px 15px;}
  h1 {text-align: center; font-size: 200%; margin: 0px;}
  ul {list-style: none;}
  label {font-weight: bold;}
  textarea,input { width: 300px;}
  table {border-spacing: 0.5rem;}
  td {text-align: center;}
  label {font-weight: bold; display: inline;}
  a:hover, a:visited, a:link, a:active {text-decoration: none; color: blue;}
  textarea {width: 120px}

  input[type=submit] {text-align: center; font-size: 2em; font-family: verdana; background-color: green;
        color: white; padding: 5px; margin-left:auto; margin-right:auto;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);}

  .search_params td {text-align: left; padding: 0px 15px; vertical-align: top}
  table.explanation, table.search_params {margin-bottom: 15px;}

  .blue_background {background-color: #639DBC;}
  .blue_background_font {color: white;}
  .dropshadow {-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);}
  .center {margin-left: auto; margin-right: auto;}


  .explanation td {text-align: center; padding: 0px 0px 3px 6px;}

View
%a{ href: result.query.url, target: '_blank', style: 'colorrr: red' }<
  Raw Search Results
from Solr
%br
%b
  Parameters:
= result.parameters
%br
%b
  = "Found #{result.num_matches} items (showing rows #{result.start_row}-#{result.end_row})"
%br
%b
  Form params:
= params
%br
%hr
%table.blue_background.dropshadow.center
  %tr
    %td
      = render partial: 'parameters_form', locals: { query: result.query }
%br
%hr
%ul
  - result.documents.each do |doc|
    %li
      = render partial: 'document', locals: { doc: doc, explanation: result.explanations[doc['id']], show_fields: result.query.fields_to_return }
      %hr
/%br
/%br
/%label Facet Fields:
/= render 'facet_counts', counts: @facet_fields
/
/%br
/%label Facet Ranges:
/= render 'facet_counts', counts: @facet_ranges
// = @facet_ranges
